@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>@Text["Site_NotFound_Title"]</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">@Text["Site_NotFound_Tip"]</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    I18nText.Text Text = new I18nText.Text();

    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<I18nText.Text>(this);
    }
}

