@page "/plugins"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<PageTitle>@Text["Page_Title_PluginsMarketplace"]</PageTitle>

@using KitX_Website.Data
@inject WeatherForecastService ForecastService

<h1>Plugins</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    I18nText.Text Text = new I18nText.Text();

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        Text = await I18nText.GetTextTableAsync<I18nText.Text>(this);
    }
}
