@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="container" style="margin: 100px 0px 0px 0px;">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-windows"></i>
                <h3>Windows</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>@Text["Public_ApplyTo"] Windows (10, 11) @Text["Public_Of"] KitX</p>
                <a href="#" class="download-a" type="button">@Text["Public_Download"] (x86)</a>
                <a href="#" class="download-a" type="button">@Text["Public_Download"] (x64)</a>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-linux"></i>
                <h3>Linux</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>@Text["Public_ApplyTo"] Linux @Text["Public_Of"] KitX</p>
                <a href="#" class="download-a" type="button">@Text["Public_Download"] (x64)</a>
                <a href="#" class="download-a" type="button">@Text["Public_Download"] (arm)</a>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-apple"></i>
                <h3>MacOS</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>@Text["Public_ApplyTo"] MacOS x64 @Text["Public_Of"] KitX</p>
                <a href="#" class="download-a" type="button">@Text["Public_Download"]</a>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-android"></i>
                <h3>Android</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>@Text["Public_ApplyTo"] Android @Text["Public_Of"] KitX</p>
                <a href="#" class="download-a" type="button">@Text["Public_Download"]</a>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="face face1">
            <div class="content">
                <i class="fab fa-apple"></i>
                <h3>iOS</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>@Text["Public_ApplyTo"] iOS @Text["Public_Of"] KitX</p>
                <a href="#" class="download-a" type="button">@Text["Public_Go"] App Store</a>
            </div>
        </div>
    </div>
</div>


@code {

    I18nText.Text Text = new I18nText.Text();

    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<I18nText.Text>(this);
    }
}
