@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="top-row ps-3 navbar navbar-dark"
     style="background-color: #97ABFF;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Text["Site_Title"]</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Text["Page_Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="download">
                <span class="oi oi-data-transfer-download" aria-hidden="true"></span> @Text["Page_Download"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plugins">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @Text["Page_PluginsMarketplace"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    I18nText.Text Text = new();

    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<I18nText.Text>(this);
    }
}
